$pink: #FB2B69;
$blue: #34AADC;
$lightGrey: #F7F7F7;
.App {
  header {
    display: flex;
    align-items: center;
    background-color: $lightGrey;
    height: 130px;
    color: $pink;
    h1{
      margin: 0 0 0 40px;
    }

    h1 > *{
      display: flex;
      align-items: baseline;
      justify-content: center;
    }
  }
  .content{
    padding: 30px;
  }

  .title{
    display: initial;
  }
  .movieId{
    font-size: 20px;
    display: initial;
  }
}
